/* Use a full-page background image. */
html {
    /*background: url(/assignment3/img/background/Elegant_Background-7.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

body{
    background: #645A5A;
}

header {
    /*background-color: rgba(0,0,0,0.5);*/
}

#content figure {
    display: inline-block;
    position: absolute;
    margin: 25px 2%;
    /*width: 15%;*/
    width: 300px;
    height: 275px;

    padding: 6px 8px 10px 8px;
    background: #eee6d8; /*fallback colour for browsers that don't support gradients*/
    background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
    background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);

    /*add shadow */
    -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
}


#content .photo {
    width: 100%;
    height: calc(100% - 40px);;
    margin-bottom: 5px;
    background-position: center center;
    background-size: cover;
    cursor: move;
    position: relative;

    padding:5px 10px;
    /*setting a width and adding overflow:hidden will clear the floats we're going to apply to figure*/
    overflow:hidden;
}


/*#photo-book-container {*/
    /*height: 500px;*/
/*}*/

/*#photo-book-container figure:before {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*left:-10px; *//*postion from the left side of the frame (positive value move the tape right, negative moves it left)*/
    /*top: -15px; *//*position from the top of the frame (positive move it above the frame, negative below)*/
    /*width: 125px; *//*width of the tape*/
    /*height: 25px; *//*height of the tape*/
    /*background-color: rgba(222,220,198,0.8); *//*colour of the tape, use rgba to make it slightly transparent*/
    /*z-index: 1; *//* Keep it on top */
    /*rotate the tape 12 degrees anti-clockwise*/
    /*-webkit-transform: rotate(-12deg);*/
    /*-moz-transform: rotate(-12deg);*/
    /*-o-transform: rotate(-12deg);*/
    /*-ms-transform: rotate(-12deg);*/
/*}*/

/** Rotate tape **/
/*#photo-book-container figure:nth-child(even):before {*/
    /*left:150px;*/
    /*top: -15px;*/
    /*width: 125px;*/
    /*height: 25px;*/
    /*-webkit-transform: rotate(12deg);*/
    /*-moz-transform: rotate(12deg);*/
    /*-o-transform: rotate(12deg);*/
    /*-ms-transform: rotate(12deg);*/
/*}*/

.hover {
    background-color: gray;
    /*margin:50px 50px;*/

    -webkit-box-shadow:0 0 20px yellow;
    -moz-box-shadow: 0 0 20px yellow;
    box-shadow:0 0 20px yellow;
}




/* Provide visual feedback when dragging images */
.photo.over {
    opacity: 0.4;
}

@media (max-width: 1000) {
    /* Position container beneath book. */
    div#photo-container {
        top: 900px;
        left: 0px;
        position: absolute;
        width: 100%;
    }
}

@media (min-width: 1000px) {
    div#photo-container {
        position: absolute;
        top: 75px;
        right: 0px;
        width: 25%;
        height: 850px;
        margin-right: 20px;
    }
}




/*** Rotate the uneven numbered images  anti-clockwise***/
#photo-container figure{
    -webkit-transform:rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-backface-visibility:hidden; /* prevent rotated text in the caption being jagged in Chrome and Safari */
}
/*** Rotate each even numbered image 2 degrees clockwise ***/
#photo-container figure:nth-child(even) { /*see support section below for more info on nth-child*/
    -webkit-transform:rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    /*because the image is rotated the opposite way, the drop-shadow needs moving to the other side of the image*/
    -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, .75);
}

/***** Photo Book Canvas Section ******/
#photo-book {
    background: url("/assignment3/img/book.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 1800px;
    height: 750px;
    left: 40%; /* We are only interested in rendering the right hand side. */
    top: 250px;
    margin-left: -1200px;
    margin-top: -125px;
}

/* Styling of every content page.*/
#pages section {
    /* We need a page background image to visually separate the pages,
     otherwise all content of the book will be shown no matter what page you are on */
    background: url("/assignment3/img/paper.png") no-repeat;
    background-size: 100% 100%;

    display: block;
    height: 720px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 2%;
    width: 860px;
}

/* Style the pictures added to the book */
#pages section div figure {
    width: 300px;
    height: 300px;
    position: absolute; /* We set their position in the book using JS. */
}

/* Add tape to images */
#pages section div figure:before {
    content: '';
    display: block;
    position: absolute;
    left:-10px; /*postion from the left side of the frame (positive value move the tape right, negative moves it left)*/
    top: -15px; /*position from the top of the frame (positive move it above the frame, negative below)*/
    width: 125px; /*width of the tape*/
    height: 25px; /*height of the tape*/
    background-color: rgba(222,220,198,0.8); /*colour of the tape, use rgba to make it slightly transparent*/
    z-index: 1; /* Keep it on top */
    /*rotate the tape 12 degrees anti-clockwise*/
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}

/** Rotate tape **/
#photo-book section div figure:nth-child(even):before {
    left:150px;
    top: -15px;
    width: 125px;
    height: 25px;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
}

.book-section-1 {
    top: 15px;
    left: 50px;
}

.book-section-2 {
    top: 15px;
    right: 75px;
}

.book-section-3 {
    bottom: 15px;
    left: 50px;
}

.book-section-4 {
    bottom: 15px;
    right: 75px;
}


#pages section>div {
    display: block;
    width: 400px;
    height: 250px;
    font-size: 12px;
}

#pages section p,
#pages section h2 {
    padding: 3px 35px;
    line-height: 1.4em;
    text-align: justify;
}
#pages section h2{
    margin: 15px 0 10px;
}

#photo-book-canvas {
    position: absolute;
    z-index: 100;
}